<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

<head>
    <meta charset="UTF-8">
    <title>{{ name}}</title>
</head>
<body>
<table>
    <thead>
    <th>学年</th>
    <th>课程</th>
    <th>分数</th>
    </thead>
    <tbody>
      <meta charset="UTF-8">
      {% for gre in gres %}
        <tr>
            <td>{{ gre.year}}</td>
            <td>{{ gre.name}}</td>
            <td>{{ gre.grade}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

</body>
</html>